sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: HwpXICOqgl9NbR5x3vy3F/Mor0F4PoKsUGdfSCgnsOby7+mKIkQ97y4X7VD2VFzcOznEAYq2tgVq+eo7GgKFW0RgKsWAaSza/Q4Qs/djNgsFTd7sj5notu3usNp1AHcnHQbR2TB7CFXJckxDgyvAHch54eSO7Ed631JS0LpM0g4BHOoXXWjFDzUF3Cl26WPc4NvnGmc6nkc+/J/j67i2SHj/4WmXRspvQHhLpous74XAOPflDQCIC/ieIc/IgIiElrN0A1AU5b1h6MYQW0ZNGMD0b+bUx8+3h3vCtoNnSfCkrvBvl5bK5qBWn53HssoIeFp5H39F6wKtB9Do08JMW1NPoOqHv/CQTHSjhqDyS4z0LdBalADKQAoJfXQ4lJLIsOdj+nly1B15FXu17M6j8o6M+4U40/YJI3BQ7o7rddclAnOIEbBuPaACPC3tVEwKbu5sAKW9nAfHyF238T4OHe386xzZXcBlEab7S2xmGyklkBzDPNHVNqGWy0PYDELiCcHU5QLFxQkc0SSGgSM7hDQaMwuT4kZB1db5X6+2JG+rbqgoKigqgqxIALZ43/9laD57ycF8aQ5Y+qmrX/twGdLiddLJgydwdltvOsoSpPVq2kERg5iDID5rdq6Qobbs13vXP1kvW2AoAVgFSHaJGxJwj0+xVvk8LMksnQ0vvH0=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Brother-Jacob_2171
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy